<main class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center">QuoteDb</h1>
        <div class="card w-50 mt-3 mb-3">
          <div class="card-body">
            {{quote.text}} - {{quote.authorDisplay}} <br />
            <a [routerLink]="[quoteLink, quote.quoteId]">View Details</a>
          </div>
          <div class="card-footer text-body-secondary">
            <div>{{quoteType}} Quote</div>
          </div>
        </div>
        <button class="btn btn-primary" (click)="getRandomQuote()">Get Random Quote</button>
      </div>
    </div>
  </main>