<div class="container">

    <div class="container">
        <div class="row" *ngIf="showError">
            <h1 class="text-danger">
                An error occurred while adding the song quote. Please try again later.
            </h1>
        </div>
    
        <div class="row" *ngIf="showSaved">
            <h1 class="text-success text-center">
                Song saved!
            </h1>
        </div>

    <h1 class="text-center">Add Song Quote</h1>

    <form [formGroup]="songForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-5">
                <div>
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" class="form-control" formControlName="title">
                </div>
                
                <div>
                    <label for="album">Album</label>
                    <input type="text" id="album" name="album" class="form-control" formControlName="album">
                </div>
    
                <div>
                    <label for="quote">Quote</label>
                    <textarea class="form-control" id="quote" name="quote" rows="3" formControlName="text"></textarea>
                </div>
                
            </div>
            <div class="col-5">
                <label for="artist">Artist</label>
                <input type="text" id="artist" name="artist" class="form-control" formControlName="artist">
    
                <label for="track">Track #</label>
                <input type="text" id="track" name="track" class="form-control" formControlName="track">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-5">
                <button class="btn btn-primary" type="submit">Add Song Quote</button>
            </div>
        </div>
    </form>
    <div class="row mt-4">
        <div *ngIf="songForm.invalid && (songForm.dirty || songForm.touched)" class="text-danger">
            <div *ngIf="title.errors?.['required']">Title is required.</div>
            <div *ngIf="text.errors?.['required']">Quote is required.</div>
            <div *ngIf="artist.errors?.['required']">Artist is required.</div>
        </div>
    </div>
</div>
